.btn-contenedor{
    height: 83px;
    display: flex;
    flex: 1 1;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    border: 1px solid transparent;
    margin: 4px;
    font-size: 38px;
    font-weight: bold;  
    background-color: white;
    cursor: pointer;
    transition: border-color 0.25s;
    color: black;
  }
  
  .btn-contenedor:hover{
    border-color: #646cff;
    background-color: orange;
  }

