.boton-contenedor{
  height: 83px;
  display: flex;
  flex: 1 1;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 38px;
  background-color: white;
  color: black;    
  border-radius: 25px;
  margin: 4px;
  cursor: pointer;
  user-select: none;
}

.boton-contenedor:hover{
  background-color: orange;
}

.operador{
  background-color: rgb(0, 128, 255);
}

.operador:hover{
  background-color:rgb(3, 93, 182) ;
}
