<section id="experience">
    <div class="info">
        <h2>&lt;Experiencia laboral</h2>
        <h5>Actualidad</h5>
        <h3>Freelance | Aprendizaje continuo</h3>
        <p>Diseño y programación web.</p>
    </div>

    <div class="info">        
        <h5>Febrero 2024</h5>
        <h3>Práctica Profesional - PortilloSur</h3>
        <p>Programación web, análisis de datos.</p>
    </div>

    <div class="info" >        
        <h5>Febrero 2023</h5>
        <h3>Operador de Bodega - Prisur</h3>
        <p>Carga de camiones, reparto en ruta.</p>
    </div>

    <div class="info">        
        <h5>Julio 2020</h5>
        <h3>Operador multifuncional - Veolia</h3>
        <p>Entrega de insumos médicos, retiro de residuos peligrosos, carga de camiones.</p>
    </div>
</section>


<style>
  h5{
    color:#8B69D4;
        margin: 0;
        padding: 0;
  }
  h3{
    font-size: 30px;
    color: #00ACB7;
    margin: 5px 0px 5px 0px ;
  }
  p{
    margin: 0;
  }
</style>