<section>
    <div class="info">
        <h2>&lt;Proyectos</h2>
        
        <h3>Lista de tareas</h3>
        <p>Diseño y programación web.</p>
    </div>

</section>


<style>
  h5{
    color:#8B69D4;
        margin: 0;
        padding: 0;
  }
  h3{
    font-size: 30px;
    color: #00ACB7;
    margin: 5px 0px 5px 0px ;
  }
  p{
    margin: 0;
  }
</style>