---
import Git from "@/icons/Git.astro"
import AstroIcon from "@/icons/astro.astro"
import HtmlIcon from "@/icons/HTML.astro"
import CssIcon from "@/icons/CSS.astro"
import JavascriptIcon from "@/icons/JavaScript.astro"
import ReactIcon from "@/icons/React.astro"
import ViteIcon from "@/icons/Vitejs.astro"
import BootstrapIcon from "@/icons/Bootstrap.astro"

---


<section>
    <div class="info">
        <h2>&lt;Skills</h2>
        
        <Git/>
        <AstroIcon />
        <HtmlIcon />
        <CssIcon />
        <JavascriptIcon />
        <ReactIcon />
        <ViteIcon />
        <BootstrapIcon />

    </div>

</section>


<style>
  h5{
    color:#8B69D4;
        margin: 0;
        padding: 0;
  }
  h3{
    font-size: 30px;
    color: #00ACB7;
    margin: 5px 0px 5px 0px ;
  }
  p{
    margin: 0;
  }
</style>